.brown {
    background-color: brown;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.black {
    background-color: black;
}

.ivory {
    background-color: blanchedalmond;
}

.yellow {
    background-color: yellow;
}